@{
    ViewData["Title"] = "Home Page";
}

  <div class="text-center">
        <h1 class="display-4">Hello!Welcome!  </h1>

        <h3>Click below to continue :</h3>
        <div class="optionList">
            <div class="optionItem"><a href="~/MyStar/Index">Manage your Accounts</a></div>
        </div>


    </div>
